@import './../../../assets/styles/variables';




.link {
    color: $accent-color;
    background: inherit;
    transition: color 0.2s ease-in-out;
    width: 100%;
    line-height: 1.5;
    height: auto;
    font-size: 20px;
    box-sizing: border-box;
    overflow: hidden; 
    resize: none;
    padding: 0px;

    &:hover {
        opacity: 0.7;
    }
}


@media (max-width: 600px) {
    .link {
        font-size: 18px;
    }
}


@media (max-width: 500px) {
    .link {
        font-size: 16px;
    }
}