@import './../../../assets/styles/variables';



.title {
    background: inherit;
    transition: color 0.2s ease-in-out;
    height: auto;
    box-sizing: border-box;
    overflow: hidden; 
    resize: none;
    padding: 0px;
    display: block;
    width: 100%;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.3;


    &:hover {
        opacity: 0.7;
    }
}