@import './../../assets/styles/variables';



.menuTree {
    display: flex;
    flex-direction: column;
}

.square, .subSquare, .subSubSquare {
    border-left: 2px solid $accent-color;
    padding-left: 25px;
    align-self: flex-start;
}

.plusContainer {
    display: flex;
    align-items: center;
    column-gap: 10px;

    margin-top: 10px;
}

.square {
    padding-top: 70px;
}

.square:first-child {
    padding-top:0px;
}

.subSquare {
    margin-left: 100px;
    

    .subSquare {
        margin-left: -27px;
    }

    .nodeWithLink {
        bottom: 48px;
    }

    .node + .node {
        margin-top: 50px;
    }

    &:last-child {
        margin-top: 50px;
    }
}

.subSubSquare {
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 100px;

    .node {
        bottom: 48px;
    }

    .plusLvlIcon {
        display: none;
    }
}


.mainNode.nodeWithLink {
    &:first-child {
        margin-top: -60px;
    }
}   


.node,
.imgContainer {
    position: relative;
    bottom: 30px;
    
    &:last-child {
        bottom: -12px;
    }
}

.node::before,
.imgContainer::before {
    content: '';
    display: inline-block;
    position: absolute;
    left: -25px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px; 
    height: 2px; 
    background-color: $accent-color;
}

.imgContainer {
    display: inline-block;
    
    &:last-child {
        bottom: -4.5px;
    }

    &::before {
        top: 90%;
    }
} 

.plusIcon, .minusIcon {
    display: block;
    transition: transform ease-in-out 0.1s;

    &:hover {
        transform: scale(1.05) rotate(5deg);
        cursor: pointer;
    }

    &:active {
        transform: scale(0.95) rotate(-5deg);
    }
}


.lonelyNode {
    top: -9px;
}


.mainNode, .node {
    font-weight: $medium;
}

.mainNode {
    color: $text-color;
    margin-bottom: 50px;

    
    &:last-child {
        margin-top: 50px;
    }


}

.linkContainer {
    display: flex;
    align-items: center;
    column-gap: 5px;
    font-weight: $light;
    color: $light-text-hover;
    margin-top: 10px;
}

.nodeLink {
    color: inherit;
    font-weight: inherit;
    font-size: inherit;

    transition: color ease-in-out 0.3s;

    &:focus {
        color: $accent-color;
        font-weight: $regular;
    }
}

.nodeText {
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    width: 1000px;

    transition: color ease-in-out 0.3s;

    &:focus {
        color: $accent-color;
    }
}


.newNode {
    color: rgb(246, 93, 93);
}