@import './../../../assets/styles/variables';



.button {
    background: $accent-color;
    color: $base-color;
    padding: 10px 20px;
    border-radius: 10px;

    transition: opacity ease-in-out 0.2s;

    &:hover {
        opacity: 0.8;
    }
}

.saveMenu {
    position: absolute;
    left: 80%;
    top: 0;
}


.saveChanges {
    background: $base-color;
    color: $accent-color;
}

.themeChange {
    background-color: $text-color;
    color: $base-color;
}


.lightTheme {
    background-color: $base-color;
    color: $text-color;
    box-shadow: 0px 0px 4px 0px rgba(34, 60, 80, 0.2);
}