@import './../../../assets/styles/variables';



.paragraph {
    background: inherit;
    transition: color 0.2s ease-in-out;
    width: 100%;
    line-height: 1.5;
    height: auto;
    font-size: 20px;
    box-sizing: border-box;
    overflow: hidden; 
    resize: none;
    padding: 0px;

    &:hover {
        opacity: 0.7;
    }
}

.paragraph {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;

    width: 100%;
}

.paragraph + .paragraph{
    margin-top: 20px;
}

@media (max-width: 1024px) {
    .paragraph + .paragraph {
        margin-top: 10px;
    }
}

@media (max-width: 600px) {
    .paragraph {
        font-size: 18px;
    }
}

@media (max-width: 500px) {
    .paragraph {
        font-size: 16px;
    }
}