@import './../../../assets/styles/variables';





.image {
    width: 70%;
    height: auto;

    margin: 20px 0;

    border-radius: 10px;

    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.50);
}


@media (max-width: 1024px) {
    .image {
        width: 100%;
        margin: 10px 0;
    }
}